/* .map-container {
    margin: 10%;
    width: 80%;
    height: 70%;
    position: absolute;
} */

/* .map-container mapboxgl-ctrl-logo {
    display: none !important;
} */

.head{
    text-align: center;
    background-color: #e3f2fd;
    padding: 5;
}

.map-container{ 
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 90%;
     height: 70%;
position: absolute; 
}



.footer{
    /* text-align:center; */
    position: absolute;
    /* padding: 3px;
    background-color:burlywood; */
  bottom: 0;
   width: 90%; 
  height: 30px;
  line-height: 20px;
}